.product-container
  .product__title 正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ
  .product-wrapper
    .product__picture
      .product__picture--main
      .product__picture--sub-container
        .product__picture--sub
        .product__picture--sub
        .product__picture--sub
        .product__picture--sub
    .product__detail
      .product__detail--pack
        .product__detail--left 出品者
        .product__detail--right 〇〇さん
      .product__detail--pack
        .product__detail--left カテゴリー
        .product__detail--right レディース
      .product__detail--pack
        .product__detail--left ブランド
        .product__detail--right コーチ
      .product__detail--pack
        .product__detail--left 商品の状態
        .product__detail--right やや傷や汚れあり
      .product__detail--pack
        .product__detail--left 送料の負担
        .product__detail--right 送料込み（出品者負担）
      .product__detail--pack
        .product__detail--left 配送料の負担
        .product__detail--right らくらくメルカリ便
      .product__detail--pack
        .product__detail--left 配送の方法
        .product__detail--right 兵庫県
      .product__detail--pack
        .product__detail--left 発送元地域
        .product__detail--right 1~2日で発送
      .product__detail--pack
        .product__detail--left 発送日の目安
        .product__detail--right 
  .product__price-box
    .product__price ¥3,380-
    %span.product__price--tax (税込)
    .product__price--shipping 送料込み
  .product__action-button 売り切れました
  .product__description ■商品ご覧頂き、誠にありがとうございます。※今だけ、フォロワーになって下さった方に、300円のお値引きサービス中！！私の商品検索は、#Boon・バッグ　検索してください。質問がありましたらコメントでよろしくお願いします！■ 商品説明 ■まずはプロフを確認してください☆■ 商品詳細 ■シンプルな落ち着いたお色味でどんな場面にも合い、どんな服にも合わせやすいお鞄です。使用感有！角擦れはございませんが多少の汚れはあります。内側はとても綺麗です使わなくなったのでどなたか使っていただける方お願いします。製造番号　H2K-9294【ブランド】COACH　コーチ【商品名】コーチ大き目シンプル【仕様】外ポケット１　内ポケット４【サイズ】縦：32横：31幅：7紐：130 多少調節可能＊他にも数多くの商品を出品しているので、ぜひご覧ください。＊複数購入、お取り置き(５日まで)もできるので、お気軽にお声がけくださいませ。＊中古品になりますので、予めご理解いただきますよう、お願い致します^_^※自宅保管、素人検品、素人寸法の誤差などにご理解がない方、神経質な方、完璧な物が欲しい方は購入お控えください。、お願い致します^_^※自宅保管、素人検品、素人寸法の誤差などにご理解がない方、神経質な方、完璧な物が欲しい方は購入お控えください。、お願い致します<br>#シンプル #かわいい #大き目 #かばん #バッグ
  .button-wrapper
    .good-button 
      .good-button__heart
        %i.far.fa-heart
      .good-button__letter いいね！
    .report-button
      .report-button__icon
      .report-button__letter 不適切な商品の報告
  .about-safty あんしん・あんぜんのへの取り組み
.comment__wrapper
  .comment__container
    .comment__icon
    .comment__main
    .comment__time
  .comment__container
    .comment__icon
    .comment__main
    .comment__time
  .comment__container
    .comment__icon
    .comment__main
    .comment__time
  .comment__container
    .comment__icon
    .comment__main
    .comment__time
  .comment__note 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  .comment__box
  .comment__sent-button
  .other-product-link
  .other-product-link
  .sns-icon__container
    .sns-icon__image
    .sns-icon__image
    .sns-icon__image
  .product__title 〇〇さんのその他の出品
  .other-product_container
  .other-product__container
  .other-product__container
  .other-product__container
  .other-product__container
  .other-product__container
  .other-product__container
  .product__title 〇〇その他の商品
  .other-product__container
  .other-product__container
  .other-product__container
  .other-product__container
  .other-product__container
  .other-product__container
  .other-product__container
          








