.credit__wrapper
  .credit__title 支払い方法
  .credit__index
    .credit__index--title クレジットカード一覧
    .credit__info
      = image_tag "credit.png", size: "32x32", class: ".credit__info--icon"
      .credit__delete 削除する
      .credit__info--number **************
      .credit__info--expire 11/21
    .credit__info
      = image_tag "credit.png", size: "32x32", class: ".credit__info--icon"
      .credit__delete 削除する
      .credit__info--number **************
      .credit__info--expire 11/21
    .credit__footer
      .credit__footer--info 支払い方法について
      %span.credit__arrow >
