body{
    background-color:rgb(245, 245, 245);;
}

.icon-header{
    width: 100vh;
    height: 128px;
    margin: auto;
    text-align: center;
    line-height: 170px;
}

.content-wrapper{
    width: 700px;
    height: 100%;
    margin: auto;
    background-color: white;

    &__header{
        padding: 32px 16px;
        font-size: 22px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        border-bottom: solid 1px;
        border-color: gray;
    }
}

.essential-icon{
    height: 19px;
    width: 32px;
    color: white;
    background-color: red;
    font-size: 12px;
    text-align: center;
    line-height: 19px;
    margin: 0 0 0 8px;
    padding: 4px;
    border-radius: 2px;
} 

.detail-container{
    height: 100%;
    width: 400px;
    float: right;
    right: 20px;

    &__sub{
        border-bottom: solid 1px;
        height: 72px;
    }
}

.upload-container{
    margin: auto;
}

.size-ajust{
    display: inline-block;
    height: 14px;
    width: 14px;
}

.upload-box{
    padding: 40px;
    border-bottom: solid 1px;
    border-color: gray;

    &__title{
        float: left;
        font-size: 14px;
    }

    &__description{
        clear: both;
        font-size: 14px;
        margin: 8px 0 0 0;
    }

    &__upload-box{
        height: 80px;
        width: 540px;
        padding: 40px;
        text-align: center;
        border: dashed 1px;
        font-size: 14px;
        margin-top: 15px;
        display: inline-block;
    }
}

.content{
    padding: 40px;
    border-bottom: solid 1px;
    border-color: gray;

    &__name{
        display: block;
        float: left;
    }

    &__form{
        clear: both;
        height: 48px;
        width: 620px;
        background-color: red;
        line-height: 48px;
        margin: 8px 0 8px 0;
    }

    &__textarea{
        height: 142px;
        width: 620px;
        background-color: red;
        clear: both;
        line-height: 48px;
        margin: 8px 0 8px 0;
    }
}

.question-icon{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: blue;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    display: inline-block;
}

.detail{
    padding: 40px;
    border-bottom: solid 1px;
    border-color: gray;
    display: inline-block;
    width: 620px;

    &__title{
        display: inline;
        font-size: 14px;
    }

    &__subtitle{
       display: inline; 
    }

    &__pull-down{
        height: 48px;
        width: 400px;
        border: solid 1px;
        margin-top: 4px;
    }

    &__price-input{
        height: 48px;
        width: 160px;
        border: solid 1px;
        margin-top: 4px;
        margin-bottom: 24px;
        padding: 0 10px 0 0;
        display: inline-block;
        float: right;
        text-align: right;
        line-height: 48px;
        color: gray;
    }

    &__commission{
        line-height: 73px;
    }

    &__profit{
        line-height: 73px;
        display: inline-flex;

        &--bar{
            float: right;
            line-height: 73px;
            font-size: 34px;
        }
    }

}

.sell-box{
    padding: 40px;

    &__description{
        font-size: 14px;

        &--link{
            font-size: 14px;
            display: inline;
        }
    }

    &__sell-button{
        height: 50px;
        width: 550px;
        background-color: red;
        text-align: center;
        line-height: 50px;
        color: white;
        margin: 40px 40px 0 40px;
    }

    &__back-button{
        height: 50px;
        width: 250px;
        background-color:gray;
        text-align: center;
        line-height: 50px;
        color: white;
        margin: 24px 180px 0;
    }
}
.sub-footer{
    padding: 40px;
    margin: auto;
    text-align: center;
    font-size: 12px;
    line-height: 25px;

    &__block{
        display: inline-flex;
        margin-left: 15px;
    }

    &__icon{
        margin-top: 30px;
    }
}
