body{
    background-color: #fafafa;
}

.product-container{
    background-color: white;
    margin: 40px auto 0;
    padding: 24px 40px 40px;
    width: 620px;
    height: 100%;
}

.product-wrapper{
    height: 500px;
}

.button-wrapper{
    display: flex;
    margin-top: 12px;
}

.about-safty{
    display: flex;
    margin: 8px 0 0 120px;

    &__icon{

    }

    &__letter{
        font-size: 12px;
        margin-left: 8px;
    }
}

.good-button{
    width: 110px;
    height: 33px;
    background-color: #f5f5f5; 
    display: flex;
    border-radius: 40px;
    font-size: 12px;
    margin-right: 8px;

    &__icon{
        margin: 11px 8px 0 12px;
    }

    &__letter{
        line-height: 33px;
    }

    &__count{
        line-height: 33px;
        margin-left: 8px;
    }
}

.report-button{
    width: 150px;
    height: 33px;
    background-color: #f5f5f5; 
    display: flex;
    border-radius: 40px;
    font-size: 12px;

    &__icon{
        margin: 11px 8px 0 12px;
    }

    &__letter{
        line-height: 33px;
    }

}

.product{

    &__title{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-top: 50px;
    }

    &__picture{
        width: 300px;
        display: inline-block;
        margin-top: 16px;
        background-color: #fafafa;

        &--main{
            height: 300px;
            width: 300px;
            background-color: red;
        }

        &--sub-container{
            height: 120px;
            width: 300px;
            font-size:0;
        }

        &--sub{
            height: 60px;
            width: 60px;
            background-color: blue;
            display: inline-block;
            border: solid 1px;
            box-sizing: border-box;
            
        }

        
    }

    &__price-box{
        margin: 0 170px;
    }

    &__price{
        font-size: 32px;
        font-weight: bold;
        display: inline-block;

        &--tax{
            font-size: 10px; 
            display: inline-block;
        }

        &--shipping{
            font-size: 16px; 
            display: inline-block;
        }
    }

    &__detail{
        height: 420px;
        width: 300px;
        float: right;
        margin-top: 16px;

        &--pack{
            width: 100%;
            height: 11%;
            display: table;
            table-layout: fixed;
            box-sizing: border-box;
        }

        &--left{
            background-color: #fafafa;
            font-size: 14px;
            width: 39%;
            height: 49px;
            display: table-cell;
            text-align: center;
            line-height: 49px;
            border: 1px solid #f5f5f5;
        }

        &--right{
            background-color: white;
            font-size: 14px;
            width: 56%;
            height: 49px;
            display: table-cell;
            border: 1px solid #f5f5f5;
            box-sizing: border-box;
            text-align: center;
            line-height: 49px;
        }
    }

    &__action-button{
        height: 60px;
        width: 620px;
        background-color: gray;
        text-align: center;
        line-height: 60px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        margin-top: 16px;
    }

    &__description{
        font-size: 14px;
        margin-top: 24px;
    }
}

.comment{

    &__wrapper{
    background-color: white;
    height: 100%;
    width: 700px;
    margin: 15px auto 0;
    padding: 24px;
    box-sizing: border-box;

    }

    &__container{
        height: 100%;
    }

    &__note{
        background-color: #fff6de;
        padding: 8px;
        font-size: 14px;
    }

    &__box{
        height: 100px;
        padding: 10px;
        margin-top: 8px;
        border: 1px solid;
    }

    &__sent-button{
        color: white;
        background-color: #aaaaaa;
        margin-top: 8px;
        height: 50px;
        font-size: 14px;
        text-align: center;
        line-height: 50px;
    }
}

.product-link{
    margin: 24px auto;
    width: 700px;

    &__right{
        float: right;
        display: flex;
    }

    &__left{
        float: left;
        display: flex;
    }

    &__right-arrow{
        margin-left: 10px;
        font-size: 14px;
    }

    &__left-arrow{
        margin-right: 10px;
        font-size: 14px;
    }

    &__name{
        font-size: 14px;
    }
}

.sns-icon{
    margin: 65px auto;
    background-color: white;
    width: 700px;
    height: 140px;

    &__wrapper{
        padding: 45px 275px 0;
        box-sizing: border-box;
        
    }

    &__image{
        display: inline-block;
        border-radius: 10px;
    }
}

