.content-right{

    &__wrapper{
        margin: 40px;
    }

    &__info-top{
        font-size: 14px;
        display: inline-block;
        margin-top:8px;

        &--link{
            font-size: 14px;
            display: inline-block;
            float: left;
            margin-left: 350px;
        }

        &--arrow{
            font-size: 14px;
            display: inline-block;
            float: right;
            margin-right: 20px;
        }
    
    }

    &__info{
        font-size: 14px;
        display: inline-block;
        margin-top:8px;

        &--link{
            font-size: 14px;
            display: inline-block;
            float: left;
            margin-left: 445px;
        }

        &--arrow{
            font-size: 14px;
            display: inline-block;
            float: right;
            margin-right: 90px;
        }
    
    }

    &__detail{
        font-size: 14px;
        margin-top: 40px;

        &--title{
            font-weight: bold;
            display: inline-block;
            vertical-align: middle;
        }

        &--box{
            height: 50px;
            width: 572px;
            border: solid 1px;
            line-height: 50px;
            color: gray;
            margin-top: 8px;
            box-sizing: border-box;
            padding-left: 15px;
        }

        &--optional{
            margin-left: 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
            display: inline-block;
            background-color: #ccc;
            box-sizing: border-box;
        }
    }

}

.pull-down{
    position: absolute;
    right: 100px;
    top: 605px;
}