body {
  background-color: #f5f5f5;
}
.header{
  height: 100px;
  width: 100vw;
  background-color: blue;
}

.menu-bar{
  height: 40px;
  width: 100vw;
  background-color: yellow;
  margin: 0 0 40px 0;
}

.content-main{
  margin: auto;
  height: 100vh;
  width: 1020px;

  .sidebar{
    width: 280px;
    height: 100vh;
    background-color: white;
    float: left;
    margin: 0 40px 0 0;
  }

  .content-right{
    font-size: 30px;
    width: 700px;
    height: 568px;
    color: black;
    float: right;
    clear: fix;
    background-color: white;


    &__header{
      height: 50px;
      width: 700px;
      text-align: center;
      background-color: white;
      font-size: 24px;
      line-height: 50px;
    }
    &__icon{
      width: 700px;
      height: 156px;
      background-color: red;

      &--avator{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: green;
        float: left;
        margin: 67px 0 0 170px;

      }

      &--text-field{
        height: 48px;
        width: 228px;
        margin: 72px 228px 24px 0;
        border-radius: 10px;
        float: right;
        background-color: white;
      }

    }

    &__profile{
      height: 216px;
      width: 668px;
      background-color: white;
      margin: auto;
      padding: 40px 16px;

      &--text-area{
        height: 216px;
        width: 668px;
        background-color: white;
        color: gray;
        border: solid;
        border-width: 1px;
        font-size: 16px;
      }

      &--sent-button{
        height: 50px;
        width: 668px;
        background-color: red;
        text-align: center;
        font-size: 14px;
        color: white;
        line-height: 48px;
        margin: 16px 0 0;
      }
    }
  
  }
}

.footer-sell-button{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-color: red;
  position: fixed;
  bottom: 25px;
  right: 25px;

  &__letter{
    text-align: center;
    color: white;
    font-size: 25px;
    margin: 30px 0 0 0;
  }

  &__icon{
    font-size: 50px;
    margin: 0 55px;
    color: white;
  }
}

.footer{
  height: 391px;
  width: 100vw;
  background-color: black;
}