.sub-footer
  .sub-footer__block プライバシーポリシー
  .sub-footer__block メルカリ利用規約
  .sub-footer__block 特定商取引に関する表記
  .sub-footer__icon= image_tag 'mercari-icon.png', size: "105x74"
  .sub-footer__copy-right © 2019 Mercari